body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.panel {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(111, 169, 255);
}

img {
  margin: 5px;
}

.panel-row {
  display: flex;
}

.param {
  padding: 5px;
}

input[type='number'] {
  width: 100px;
}

.timing-param {
  display: flex;
  flex-direction: row;
}

.timing-param > p {
  width: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: end;
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

button {
  border: 1px solid transparent;
  width: 150px;
  border-radius: 20px;
  background-color: white;
}

button:hover {
  background-color: rgb(233, 233, 233);
}

button:active {
  background-color: rgb(190, 190, 190);
}